.container {
    width: 98%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
}

.container h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px 40px;
    flex-wrap: wrap;
    position: relative;
}

form .item {
    width: calc(100% * (1/2) - 40px);
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

form .item label {
    width: 30%;
    font-weight: bold;
}

form .item input,
form .item textarea,
form .item select {
    width: 70%;
    padding: 5px;
    outline: none;
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--blue);
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

form button {
    position: absolute;
    bottom: -30px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    border: 2px solid var(--blue);
    transition: 0.2s ease all;
    gap: 5px;
}

form button .icon {
    width: 15px;
}

form button:hover {
    background-color: transparent;
    color: var(--blue);
}