.container {
    width: 98%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
}

.payment_info {
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
}

form {
    display: flex;
    gap: 10px 15px;
    position: relative;
}

form .container {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form .item {
    width: calc(100% * (1/2) - 15px);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
}

form .item label {
    width: 30%;
    font-weight: bold;
}

form .item input,
form .item textarea {
    width: 70%;
    padding: 5px;
    outline: none;
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--blue);
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

form button {
    position: absolute;
    bottom: -30px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    border: 2px solid var(--blue);
    transition: 0.2s ease all;
    gap: 5px;
}

form button:hover {
    filter: brightness(0.9);
}

form button .icon {
    width: 15px;
}

form button:hover {
    background-color: transparent;
    color: var(--blue);
}

.payment_info .consignee_info {
    width: 40%;
    background-color: var(--blue);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.payment_info h2 {
    font-size: 18px;
    padding: 20px;
    letter-spacing: 1px;
}

.payment_info .consignee_info .item {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 20px;
}

.payment_info .consignee_info .item p {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment_info .consignee_info .item label {
    width: 145px;
    font-weight: bold;
}


.payment_info .consignee_info .item input {
    all: unset;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.payment_info form {
    width: 60%;
}