.customer-options {
    width: 98%;
    display: flex;
    gap: 10px;
    margin: auto;
}

.customer-options .customer-account,
.customer-options .customer-payments,
.customer-options .customer-vehicle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}