.customer-options {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    border: 1px solid;
    padding: 10px;
}

.customer-options h3 {
    width: 245px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    margin-top: -24px;
    padding: 5px 5px;
    background-color: white;
}

.customer-options .stage {
    width: 95%;
    display: inline-flex;
    gap: 10px;
    margin: auto;
}

.customer-options .stage form {
    width: 40%;
    display: flex;
    border: 1px solid;
}

.customer-options .stage input {
    all: unset;
    width: 90%;
    padding: 5px;
    font-size: 13px;
    border-right: 1px solid;
}

.customer-options .stage form button {
    all: unset;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-options .customer-account,
.customer-options .customer-payment,
.customer-options .customer-vehicle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}