@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './sidebar.css';
@import './topbar.css';
@import './customer-header.css';

:root {
    --black: #1E1E1E;
    --blue: #11254A;
    --red: #902126;
    --primary: #2E9264;
    --progress: #E16B16;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
}

.icon {
    width: 25px;
}

.body {
    width: 85%;
    width: -moz-available;
    width: -webkit-fill-available;
}

p,
li,
button {
    font-size: 13px;
}

.breadcrumbs {
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    align-items: center;
    user-select: none;
    font-size: 13px;
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.breadcrumbs .icon {
    width: 20px;
}

#email-availability-message,
#stockid-find-message,
#email-find-message {
    position: absolute;
    right: 20px;
    bottom: -18px;
}

.hidden {
    display: none;
}

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: var(--primary);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.done {
    background-color: #2E9264;
}

.progress {
    background-color: var(--progress);
}

.danger {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: white;
}

.primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: white;
}

.none {
    display: none;
}

[x-cloak] {
    display: none !important;
}

.error-text {
    color: var(--red);
}

label {
    user-select: none;
}

.active-url {
    background-color: white;
    color: black;
}

.active-sub-menu {
    border-radius: 20px 20px 0 0;
    background-color: white;
    color: black;
}

.closed {
    display: none;
}