.sidebar-alpine-container,
.sidabar-closed {
    padding: 1%;
    height: 100vh;
    background: var(--blue);
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.sidebar-alpine-container {
    width: 15%;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

aside img {
    width: 95%;
    margin: 0;
}

aside hr {
    border: 2px solid white;
    margin: 10px 0;
    border-radius: 25px;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside nav li {
    width: 100%;
    padding: 10px;
    color: white;
    transition: all 0.2s ease;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 40px;
}

aside nav li:hover {
    background-color: white;
    color: var(--black);
}

.sub-menu {
    background-color: white;
    color: black;
    border-radius: 0 0 20px 20px;
}

.sub-menu li {
    color: black;
    transition: 0.2s ease all;
}

.sub-menu li:hover {
    color: var(--blue);
    cursor: pointer;
    font-weight: bold;
}

aside a:active {
    background-color: white;
    color: var(--black);
}


aside .tt-added {
    background-color: var(--primary);
    animation: animateTT 1s linear infinite;
    position: relative;
    display: flex;
}

aside .tt-added .alert {
    width: 10px;
    height: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    color: white;
    position: absolute;
    right: 5px;
    top: 4px;
}

@keyframes animateTT {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.sidabar-closed {
    width: 5%;
}

.sidabar-closed nav {
    display: flex;
    justify-content: center;
}

.sidabar-closed nav ul {
    width: fit-content;
}

.sidabar-closed nav li {
    justify-content: center;
}

.toggle-sidebar-btn {
    width: 50px;
    border: 2px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    position: absolute;
    bottom: 10px;
    background-color: var(--blue);
    color: white;
}