.single-customer-account {
    width: 98%;
    height: 64vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    font-size: 13px;
}

.single-customer-account p {
    /* font-size: 18px; */
}

.single-customer-account p span {
    font-weight: bold;
}

.single-customer-account .tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-customer-account .tab button {
    border: 1px solid;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
}

.single-customer-account .tab button .icon {
    width: 20px;
    position: absolute;
    right: 10px;
}

.single-customer-account .customer-vehicle,
.single-customer-account .customer-payments {
    width: 100%;
    overflow-x: scroll;
    text-align: center;
    text-transform: uppercase;
}

.single-customer-account .customer-vehicle th,
.single-customer-account .customer-payments th {
    background-color: var(--blue);
    color: white;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.single-customer-account .customer-vehicle td,
.single-customer-account .customer-payments td {
    border: 1px solid;
    padding: 5px;
}

.single-customer-account .customer-vehicle button {
    margin: auto;
}

.single-customer-account .customer-vehicle .sno {
    width: 50px;
}

.single-customer-account .customer-vehicle .stockId {
    width: 80px;
}

.single-customer-account .customer-vehicle .vehicle {
    width: 120px;
}

.single-customer-account .customer-vehicle .chassis {
    width: 120px;
}

.single-customer-account .customer-vehicle .fob {
    width: 70px;
}

.single-customer-account .customer-vehicle .action-btns {
    display: flex;
    gap: 5px;
}

.single-customer-account .customer-vehicle .action-btns button {
    margin: 0;
}

.single-customer-account .customer-payments .sno {
    width: 50px;
}

.single-customer-account .customer-payments .stockId {
    width: 80px;
}

.single-customer-account .customer-payments .vehicle {
    width: 250px;
}

.single-customer-account .customer-payments .cemail {
    width: 200px;
}

.single-customer-account .customer-payments .paymentDate {
    width: 120px;
}

.single-customer-account .customer-payments .payment {
    width: 70px;
}

.single-customer-account .customer-payments .paymentRecievedDate {
    width: 120px;
}

.imageContent {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 1%;
}

.imageContent img {
    width: 19%;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal .container {
    position: relative;
}

.modal .close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.modal .stage {
    width: 50%;
    height: 80%;
    background-color: white;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.docContent {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.docContent img {
    width: 19%;
    padding: 1%;
    cursor: pointer;
}

form {
    display: flex;
    position: relative;
}

form .field {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
}

form .field label {
    width: 30%;
}

form .field input {
    width: 70%;
    height: 30px;
    padding: 0 10px;
}

form .field:nth-of-type(2) label {
    border: 1px solid grey;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    background-color: rgba(239, 239, 240, 1);
}

form .field input[type="file"] {
    /* display: none; */
}

form button {
    right: 20px;
    bottom: -20px;
    position: absolute;
    padding: 5px 20px;
}