.topbar {
    width: 100%;
    position: relative;
}

.topbar>.role {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.topbar .options {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.topbar .account {
    display: flex;
    flex-direction: column;
}

.topbar .account button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
}

.topbar .account button svg {
    height: 12px;
}

.topbar .account .options {
    background: rgba(0, 0, 0, 0.1);
    width: 150px;
    position: absolute;
    top: 55px;
    right: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--blue);
}