.topbar {
    width: 100%;
    position: relative;
}

.topbar>.role {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px;
}

.topbar .options {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.topbar .account {
    display: flex;
    flex-direction: column;
}

.topbar .account button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease all;
}

.topbar .account button:hover {
    background-color: white;
    color: var(--blue);
}

.topbar .account button svg {
    height: 15px;
}

.topbar .account .options {
    background: var(--blue);
    width: 150px;
    position: absolute;
    top: 55px;
    right: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--blue);
    color: white;
    text-transform: uppercase;
}

.topbar .account .options ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topbar .account .options ul li {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
    position: relative;
}

.topbar .account .options ul li .icon {
    position: absolute;
    right: 10px;
}